<div style="text-align: center;">
  <h1>Minesweeper v1.0</h1>
  <input type="text" placeholder="Enter Grid Size (2-20)" [(ngModel)]="gridSize"/> 
  <button (click)="reset(gridSize)">Restart</button>
  <h1></h1>
  <table>
    <tr *ngFor="let row of board.cells; index as y">
      <td *ngFor="let cell of row; index as x" (click)="checkCell(cell)" (contextmenu)="$event.preventDefault(); flag(cell)" >
        <!-- <div>Status: {{ cell.status }}</div> -->
        <div *ngIf="cell.status === 'clear' && !cell.mine">{{ cell.proximityMines }}</div>
        <div *ngIf="cell.status === 'flag'">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#008000" d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z" />
          </svg>
        </div>
        <div *ngIf="cell.mine && cell.status === 'clear'">
          <svg style="width:24px;height:24px" viewBox="0 -960 960 960">
            <path
              fill="#ff0000"
              d="M346-48q-125 0-212.5-88.5T46-350q0-125 86.5-211.5T344-648h13l27-47q12-22 36-28.5t46 6.5l30 17 5-8q23-43 72-56t92 12l35 20-40 69-35-20q-14-8-30.5-3.5T570-668l-5 8 40 23q21 12 27.5 36t-5.5 45l-27 48q23 36 34.5 76.5T646-348q0 125-87.5 212.5T346-48Zm0-80q91 0 155.5-64.5T566-348q0-31-8.5-61T532-466l-26-41 42-72-104-60-42 72h-44q-94 0-163.5 60T125-350q0 92 64.5 157T346-128Zm454-480v-80h120v80H800ZM580-828v-120h80v120h-80Zm195 81-56-56 85-85 56 56-85 85ZM346-348Z"
            />
            
          </svg>

          
        </div>
      </td>
    </tr>
  </table>
</div>
